.container {
  width: 1425px;
  padding: 10px 0;
  background-image: linear-gradient(to bottom, #870000, #190a05);
  padding-bottom: 50px;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

.characterid-container {
  display: flex;
  margin: 50px auto;
  margin-bottom: 90px;
  width: 1100px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.characterid-container img {
  height: 500px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.characterid-descript {
  background-color: rgba(252, 252, 252, 0.863);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  padding: 20px 20px;
}
.characterid-descript h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.characterid-descript p {
  line-height: 17px;
}
.comicId-container {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.comicId-container img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.comicId-descript {
  width: 100%;

  margin-bottom: 30px;
}

.comicId-descript h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.comicId-container p {
  font-size: 12px;
  width: 100%;
}
.comicId-map {
  margin-left: 30px;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 10px;
  height: 540px;
  width: 400px;

  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-image-slice: 1;
}
