.container-heros-character {
  width: 1425px;
  border-bottom: solid 5px black;
  border-top: solid 5px black;
}

.heros-character-img {
  display: flex;
  position: relative;
}
.heros-character-img img {
  height: 375px;
  width: 100%;
}
.title-character {
  position: absolute;
  top: 150px;
  left: 450px;
  font-size: 48px;
  display: inline-block;
  background: linear-gradient(to bottom, #870000, #190a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-character h1 {
  font-size: 56px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
